{% extends 'base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}
<div class="container py-5  d-flex flex-column justify-content-center">
    <div class="row">
        <div class="col-sm-4">
            <div class="h-100 bg-dark-1 p-5 d-flex flex-column justify-content-center align-items-center shadow">
                <h2>Create a quiz</h2>
                <p>Have your quiz ready in just a sec...</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="h-100 bg-dark-2 p-5 d-flex flex-column justify-content-center shadow">
                <h2>Answer a quiz</h2>
                <p>And most probably surprise your examiner all the way...</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="h-100 bg-dark-1 p-5 d-flex flex-column justify-content-center shadow">
                <h2>Check your statistics</h2>
                <p>Don't cry if its bad...</p>
            </div>
        </div>
    </div>
</div>



{% endblock %}