{% extends "base.html" %}


{% block title %}
{{ quiz.title }}
{% endblock %}
{% block content %}
<div class="container">
    <div class="my-5">
        <div class="d-flex justify-content-between align-items-center">
            <div class="w-100">
                <h4 class="display-4 text-success quiz-title" id="{{ quiz.id }}">{{ quiz.title }}</h4>
            </div>
            <div class="col">
                <div class="d-flex flex-row align-items-end">
                    {% if quiz.user == request.user %}
                    <div>
                        <a href="{% url 'quiz:create_quiz' quiz.id %}" class="btn btn-primary">Edit</a>
                    </div>
                    {% endif %}
                    <div class=" pl-3">
                        <span>Score:</span>

                        <span class="btn btn-success" id="score">
                            {% if solution %}{{ solution.score }}{% else %}0{% endif %}</h2>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
    <div class="d-flex justify-content-center align-items-center" id="answer-quiz-button-container">
        <button id="answer-quiz" class="btn btn-lg btn-primary">Anwer Quiz</button>
    </div>
    <div class="container py-5">
        <div class="d-flex align-items-center py-5" id="quiz-container">

            <div class="col-12 my-4 py-3 shadow">
                {% if solution %}
                <h3>Solution details</h3>
                <hr>
                <div class="my-3 p-3 card d-flex flex-row justify-content-between align-items-center">
                    <div>Date Taken</div>
                    <div>{{ solution.date }}</div>
                </div>

                <div class="my-3 p-3 card d-flex flex-row justify-content-between align-items-center">
                    <div>Grade</div>
                    <div><span
                            class="btn {% if solution.passed %}btn-success{% else %}btn-danger{% endif %}">{{ solution.get_grade_level }}</span>
                    </div>
                </div>
                <div class="card mt-4">
                    <table class="table table-striped ">
                        <thead>
                            <tr>
                                <th>Question Number</th>
                                <th>Score</th>
                                <th>Time Taken</th>
                            </tr>
                        </thead>
                        <tbody>



                            {% for choice in solution.choices.all %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ choice.score }}</td>
                                <td>{{ choice.time_taken }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <p class="lead">This will be your first attempt</p>
                {% endif %}

            </div>

        </div>
    </div>
</div>
</div>

{% endblock %}

{% block extra_js %}
<script>


    function quiz(id = null) {

        this.questions = [];
        this.question_time = 0;
        this.question_score = 0;
        this.solution = {
            score: 0.0,
            quiz: 0,
            choices: [],
        };
        self.answered = true;
        this.quiz_id = id;
        this.current_index = -1;

        this.time_start = null;
        this.timeout = null;
        this.submit_results = function (e) {
            if (this.timeout) {
                clearTimeout(this.timeout)
            }

            fetch("{% url 'quiz:api_create_solution' %}",
                {
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}',
                    },
                    method: 'POST',
                    body: JSON.stringify(this.solution)
                }
            ).then(e => e.json()).then(result => {
                window.location.reload();
            }).catch(error => {
                console.log(error);
                alert('Sorry an error occured');
            });
        };

        this.fetch_questions = function () {
            fetch("{% url 'quiz:quiz-data' quiz.id %}").then(e => e.json()).then(result => {
                this.questions = result['questions'];
                this.solution.quiz = result['id'];
                this.question_time = result['time_for_each_question'];
                this.question_score = result['score_for_each_question'];

                setTimeout(this.conduct_quiz, 1000);
            }).catch(error => {
                console.log(error);
                setTimeout(this.fetch_questions(), 1000);
            });
        };
        this.answer_chosen = function () {
            var self = this;
            return function (e) {
                if (self.timeout) {
                    clearTimeout(self.timeout);
                }
                var answer_id = this.getAttribute('answer-id');
                var question = self.questions[self.current_index];
                var now = new Date();
                var diff = (now - self.time_start) / 1000;
                var choice_data = {
                    "question": question.id,
                    "score": 0,
                    "answer": answer_id,
                    'time_taken': diff,
                }
                for (let i = 0; i < question.answers.length; i++) {

                    if (question.answers[i].is_correct && question.answers[i].id == answer_id) {
                        var score = 0;
                        // If the time is within 10 percent of the designated time for a question
                        // Give full marks
                        if (diff <= Number(self.question_time) / 10) {
                            score = Number(self.question_score);
                            
                        } else {
                            score = Number((self.question_score / 2 + ((self.question_score / 2) * ((Number(self.question_time) - diff) / Number(Number(self.question_time))))).toFixed(2));

                        }
                        

                        choice_data['score'] = score;
                        self.solution.score += score;
                    }
                }
                self.solution.choices.push(choice_data);
                self.answered = true;
                document.getElementById('score').innerText = self.solution.score;
                document.getElementById('quiz-container').innerText = '';
                setTimeout(self.conduct_quiz, 500);
            }


        };
        this.conduct_quiz = function () {
            if (!this.answered && this.current_index >= 0) {
                this.solution.choices.push({
                    "question": this.questions[this.current_index].id,
                    "score": 0,
                    'time_taken': this.question_time,
                    'answer': null,
                });

            }
            document.getElementById('score').innerText = self.solution.score;

            var quiz_container = document.getElementById('quiz-container');
            quiz_container.innerHTML = "";
            this.current_index++;
            if (this.questions == undefined || this.questions == null || this.questions.length == 0) {
                this.fetch_questions();
                return;
            }
            if (this.questions.length <= this.current_index) {
                clearTimeout(this.timeout);
                this.submit_results();
                return;
            } else if (this.current_index <= 0) {
                this.current_index = 0;
            }


            var question = this.questions[this.current_index];

            let innerHTML = `
                <div class="col-12 my-4">
                <div class="question-card shadow p-2" data-id="${ question.id}">
                    <div class="container">
                        <p>${ question.question}</p>
                        <div class="row">`

            for (let i = 0; i < question.answers.length; i++) {
                let answer = question.answers[i];
                innerHTML += `
                            <div class="col-6 col-md-4 col-lg-3 my-3">
                                <a class="btn choices w-100 h-100 d-flex align-items-center justify-content-center text-white bg-primary"
                                    answer-id="${ answer.id}">
                                    ${ answer.answer}
                                </a>
                            </div>
                    `

            }
            quiz_container.innerHTML = innerHTML;
            var choices = document.getElementsByClassName('choices')
            for (let i = 0; i < choices.length; i++) {
                choices[i].addEventListener('click', this.answer_chosen());
            }
            this.answered = false;
            this.time_start = new Date();
            if (this.current_index <= this.questions.length - 1) {
                this.timeout = setTimeout(this.conduct_quiz, Number(this.question_time) * 1000);
            }
        };
        this.start_quiz = function () {
            self = this;
            return function (e) {
                var start_container = document.getElementById('answer-quiz-button-container');
                if (start_container) {
                    start_container.innerHTML = '';
                }
                self.fetch_questions();
            }
        }
        var start = document.getElementById('answer-quiz');
        if (start) {
            start.addEventListener('click', this.start_quiz())
        }
    }
    quiz();

</script>

{% endblock %}