

.h-100 {
    height: 100%;
}

.h-100vh {
    height: 100vh;
}
.question-card-header-section{
    min-height: 200px;
}
.hover-show-parent .hover-show{
    display: none;
}
.hover-show-parent:hover .hover-show{
    display: inline-block;
}
.h-min-50{
    min-height: 50vh;
}
.title{
    font-size: 26px;
}
.search-form{
    height: 70px;
}
.search-form .search-input{
    height: 100%;
    width: 100%;
    border: none !important;
}
.search-form .search-input:focus{
    border: none !important;
    outline: none !important;
    animation: myshow 0.6s ease-in;
}
@keyframes myshow {
    0%{
        padding: 5px 20px;
        background: lime;
    }
    100%{
        background: white;
    }
}
.search-form{
    display: flex;
}

.search-form button{
    width: 70px;
    border-radius: 0 5px 5px 0 !important;
}
.text-black{
    color: #444;
}
a {
    text-decoration: none !important;
}
.bg-main-1{
    background: steelblue;
}
.bg-main-2{
    background: lightblue;
}
.bg-main-3{
    background: slateblue;
}
.bg-dark-1 {
  background: #232930;
  color: #ccc;
}

.bg-dark-2 {
    background: #454c52;
    color: #ccc;
  }

.w-min-50 {
    min-width: 50%;
}
.bg-dark form .form-control {
    background: #353b40;
    color: #ccc;
}
.w-unset {
    width: unset !important;
}

.radius-5 {
    border-radius: 10px;
    overflow: hidden;
}
.py-6 {
    padding-bottom: 3.5em;
    padding-top: 3.5em;
}